---
import logo from "../assets/img/logo.jpg";
import { Icon } from 'astro-icon'
---
<div class="container">
    <ul class="nav">
        <li class="logo"><img src={logo} alt="Logo." /></li>
        <ul class="menu">
            <li>MAIN</li>
            <li>ABOUT AS</li>
            <li>TOURS</li>
            <li>GALLERY</li>
            <li>REVIEWS</li>
            <li>CONTACT</li>
        </ul>
        <Icon class="icon" name="mdi:magnify"/>
    </ul>
</div>


<style>
    .container{
        display: flex;
        justify-content: center;
    }
    .nav {
        display: flex;
        color: #fff;
        list-style: none;
        justify-content: space-between;
        border-bottom: 3px solid #8a8888;
        width: 90%;
    }

    .menu {
        display: flex;
        list-style: none;
    }

    .menu li{
        margin-left: 15px;
        margin-right: 15px;
    }

    .menu li:hover{
        border-bottom: 5px solid #b81a1a;
    }

    img {
        width: 80px;
        height: auto;
    }
    .icon{
        width: 30px;
    }
</style>
